<p id="notice"><%= notice %></p>

<h1>Barbearia</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Contato</th>
      <th>Usuario</th>
      <th>Id</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbearia.each do |barbearium| %>
      <tr>
        <td><%= barbearium.nome %></td>
        <td><%= barbearium.contato %></td>
        <td><%= barbearium.usuario_id %></td>
        <td><%= barbearium.id %></td>
        <td><%= barbearium.endereco_id %></td>
        <td><%= link_to 'Show', barbearium %></td>
        <td><%= link_to 'Edit', edit_barbearium_path(barbearium) %></td>
        <td><%= link_to 'Destroy', barbearium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td colspan="5"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Barbearia', new_barbearium_path %>
