<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @barbearium.nome %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @barbearium.contato %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @barbearium.usuario_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @barbearium.id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @barbearium.endereco_id %>
</p>

<%= link_to 'Edit', edit_barbearium_path(@barbearium) %> |
<%= link_to 'Back', barbearia_path %> |
<%= link_to 'Destroy', @barbearium, method: :delete, data: { confirm: 'Are you sure?' } %>

