<p id="notice"><%= notice %></p>

<p>
  <strong>Rua:</strong>
  <%= @endereco.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @endereco.bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @endereco.numero %>
</p>

<p>
  <strong>Id:</strong>
  <%= @endereco.id %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %> |
<%= link_to 'Destroy', @endereco, method: :delete, data: { confirm: 'Are you sure?' } %>
